<!-- <pipe></pipe> -->

<directives></directives>

<!-- <template-form></template-form> -->

<!-- <reactive-signup-form></reactive-signup-form> -->

<!-- <http-example></http-example> -->

<!-- <button (click)="openDialog()">Open Dialog</button>
<dynamic-alertcomp [message] ="error" *ngIf="error" (close)="closeDialog($event)"></dynamic-alertcomp> -->

<!-- <reactive-parent-form></reactive-parent-form> -->

<!-- <viewchild-and-viewchildren></viewchild-and-viewchildren> -->

<!-- <contentchild-and-contentchildren></contentchild-and-contentchildren> -->

<!-- <ngfor-trackby></ngfor-trackby> -->